body {
  display: flex;
  justify-content: center;
}

h1{
  font-size: 82px;
  flex-direction: column;
}

.container {
  width: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
}

.inputCont{
  text-align: center;
}


.userContainer {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.feedbackContainer {
  height: 30px;
  padding-bottom: 20px;
  margin: 5px 0;
  flex-direction: column;
  color: red;
}

.counterCont {
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tableCont {
  margin: auto;
  display: flex;
}

th {
  padding: 10px;
  text-align: center;
}
